.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    border: 4px solid black;
    width: 300px;
    padding: 20px;
}

.item {
    display: flex;
    padding: 5px;
    flex-direction: column;
}
button{
    padding: 10px;
    display: flex;
    align-items: center;
}
.text {
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputLink{
    width: 100%;
}
